.menu
{
  padding: 5px;
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
}

.menu .menu-list
{
  height: 300px;
  width: 100%;
  position: relative;
  margin-top: 4px;
  display: block;
  /* flex-direction: column; */
  border-bottom: 1px solid var(--bg-black-50);
}
.menu .menu-profile
{
  height: 300px;
  width: 100%;
  position: relative;
  margin-top: 4px;
  display: block;
  /* border-bottom: 1px solid var(--bg-black-50); */
}

ul
{
  list-style: none;
  width: 100%; 
  display: block;
  padding: 10px;
}

ul li
{
  text-decoration: none;
  margin: 22px 22px;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  
}

ul li i
{
  margin-right: 30px; 
}

ul li .link
{
  text-decoration: none;
  color: var(--text-black-900);
}





  /* .menu li:hover{
    background: linear-gradient(315deg, rgb(113, 113, 248), white);
  } */