.opt{
    width: 100%;
    height: 40px;
    margin: 20px 0px;
    /* border-top: 1px solid black; */
    /* border-bottom: 1px solid black; */
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  .opt h3{
    margin: 0 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-align: center;
  }
  .opt span{
    cursor: pointer;
    margin: 3px;
  }
  