@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
  margin: 0;
  padding: 0;
 
  
}
body::-webkit-scrollbar{
  width: 5px;
  
}
.container{
  position: relative;
  display: grid;
  grid-template-columns: 17% 83%;
  grid-template-rows: 60px auto auto;
  grid-template-areas: "hd hd"
                       "sd cb"
                       "footer footer";
 
  /* background: linear-gradient(45deg, rgb(113, 113, 248), rgb(56, 53, 46)); */
  
}

.hd{
  grid-area: hd;
}

.sd{
  grid-area: sd;
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.15);
 
}

.cb{
  grid-area: cb;
  
}

footer{
  height: fit-content;
  grid-area: footer;
}
/* .btn{
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn-focus{
  outline: none;
}
.btn:active{
  transform: scale(0.98);
}
.btn-block{
  display: block;
  width: 100%;
} */

.head_opt{
  width: 100%;
  height: 10%;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  position: fixed;
  z-index: 10;
  background: white;
}

.menu{
  height: 300px;
  width: 100%;
  margin-top: 4px;
  border-radius: 5px;
  position: relative;
  /* box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.15); */
  display: flex;
  flex-direction: column;
  
  


}
.menu ul{
  list-style: none;
  margin-right: 5px;
  width: 70%;
}
.menu li{
  text-decoration: none;
  line-height: 30px;
  color: black;
  margin: 10px;
  font-size: 12px;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;

}
.menu li i{
  margin: 0;
}
.menu li:hover{
  background: linear-gradient(315deg, rgb(113, 113, 248), white);
}

.Prof{
  position: relative;
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Prof h1{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 50;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.Prof ul{
  list-style: none;
  margin-right: 5px;
  margin-top: -10px;
  width: 85%;

}
.Prof ul li{
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 50;
  font-size: 10px;
  width: 100%;
  margin-left: -15px;
  line-height: 20px;  
  cursor: pointer;
  height: 20px;
  border-radius: 7px;
}
.Prof ul li:hover{
  background: linear-gradient(315deg, rgb(113, 113, 248), white);
}

.rec_profile{
  margin-top: 5px;
  position: relative;
  height: 350px;
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;      
}
.rec_profile h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 50;

}
.prof_lst{
  position: relative;
  width: 150px;
  height: 30px;
  margin: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* .prof_lst:hover{
  background: linear-gradient(315deg, rgb(113, 113, 248), white);
} */
.prof_lst img{
  border-radius: 50%;
  border: none;
  margin: 0 1rem;
  height: 30px;
  line-height: 30px;


}
.prof_lst h1{
  font-weight: normal;
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  
}
button{
  background: transparent;
  border: none;
  cursor: pointer;
}

.crte{
  width: 100%;
  height: 400px;
  position: relative;
  outline: 1px soild blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.set{
  position: relative;
  height: 65%;
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.cnt{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.mva{
  height: 100px;
  width: 100px;
  background: black;
  margin: 0px;    
  }
 p{
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  margin-top: 0;
  text-align: center;
}
 h3{
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  margin: 3px;
}
 h2{
  font-size: 30px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;

}

.Page{
  height: fit-content;
  width: 100%;
  position: relative;

}

.top{
  width: 99%;
  height: 300px;
  margin: 5px 5px;
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dis_item{
  position: relative;
  display: flex;
  max-height: fit-content;
  width: 100%;
  overflow-x: auto;
}
.dis_item::-webkit-scrollbar{
  width: 0;
  height: 10px;
  /* cursor: pointer; */
 
  
}

.dis_item::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: rgb(62, 61, 122);
  width: 2px;
  height: 5px;
  /* cursor: pointer; */

}
.item{
  position: relative;
  height: 200px;
  min-width: 400px;
  line-height: 200px;
  text-align: center;
  background: black;
  border-radius: 10px;
  margin: 10px 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);

}

.trend{
  width: 99%;
  height: 300px;
  position: relative;
  margin: 5px 5px;
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  
}
.hdt_trend{
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;     
}
.hdt_trend h3{
  padding: 50px 50px;
  font-family: 'Poppins', sans-serif;
}
.tra{
  position: relative;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  
}
.tra .trd{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 20px;
  height: 200px;
  widows: 200px;
}
.tra .trd h3{
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: 400;
  
}
.trd .tr{
  height: 100px;
  width: 100px;
  background: black;
}
.trd button{
  margin-top: 7px;
  border-radius: 5px;
  border: none;
  width: 50px;
  font-size: 12px;
  cursor: pointer;
}
span{
  cursor: pointer;
  margin: 3px;
}

.name{
  width: 100%;
  height: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  
}
.dtls{
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
.dtls h3{
  margin: 0 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  text-align: center;
}
input{
  margin-top: -2px;
}

.drops{
  width: 99%;
  height: 300px;
  position: relative;
  margin: 5px 5px;
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  
}
.hdt_drops{
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;     
}
.hdt_drops h3{
  padding: 50px 50px;
  font-family: 'Poppins', sans-serif;
}
.trb{
  position: relative;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  
}
.trb .trc{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 20px;
  height: 200px;
  widows: 200px;
}
.trb .trc h3{
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: 400;
  
}
.trc .tx{
  height: 100px;
  width: 100px;
  background: black;
}
button{
  margin-top: 7px;
  border-radius: 5px;
  border: none;
  width: 50px;
  font-size: 12px;
  cursor: pointer;
}
span{
  cursor: pointer;
  margin: 3px;
}

.opt{
  width: 100%;
  height: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
h3{
  margin: 0 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  text-align: center;
}
span{
  cursor: pointer;
  margin: 3px;
}

.news{
  width: 100%;
  height: 300px;
  position: relative;
  border-bottom: 1px solid black;
  
}
.hdt_news{
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;     
}
.hdt_news h3{
  padding: 50px 50px;
  font-family: 'Poppins', sans-serif;
}
.bra{
  position: relative;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  
}
.bra .brb{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 20px;
  height: 200px;
  widows: 200px;
}
.bra .brb h3{
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: 400;
  
}
.brb .br{
  height: 100px;
  width: 100px;
  background: black;
}
button{
  margin-top: 7px;
  border-radius: 5px;
  border: none;
  width: 50px;
  font-size: 12px;
}

.logo{
  height: 100%;
  width: 15%;
  position: relative;   
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  
}

.logo img{
 padding: 0 5px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-weight: 70;
 height: 40px;
}
.icon i{
  margin-right: 10px;
  font-size: 25px;
  cursor: pointer;

}

.srch_area{
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.srch_cont input{
  background: transparent;
  flex: 1;
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.srch_cont i{
  margin: 3px;
  cursor: pointer;
}
.srch_cont{
  background: linear-gradient(315deg, rgb(113, 113, 248), white);
  height: 40px;
  width: 400px;
  display: flex;
  align-items: center;
  border-radius: 10px;

}

.icon{
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
button.bttn{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background: transparent;
}
button:hover{
  background: linear-gradient(315deg, rgb(113, 113, 248), white);
}
button#crcle{
  height: 40px;
  width: 40px;
}

i{
  font-size: 20px;
}
i.mycircle{
  font-size: 30px;
}
select{
  cursor: pointer;
}