@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
  margin: 0;
  padding: 0;
 
  
}

/* body::-webkit-scrollbar{
  width: 5px;
  
}
.nn{
  position: relative;
  display: grid;
  grid-template-columns: 17% 83%;
  grid-template-rows: 60px auto auto;
  grid-template-areas: "hd hd"
                       "sd cb"
                       "footer footer"; */
 
  /* background: linear-gradient(45deg, rgb(113, 113, 248), rgb(56, 53, 46)); */
  
/* }

.hd{
  grid-area: hd;
}

.sd{
  grid-area: sd;
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.15);
 
}

.cb{
  grid-area: cb;
  
}

footer{
  height: fit-content;
  grid-area: footer;
} */
/* .btn{
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn-focus{
  outline: none;
}
.btn:active{
  transform: scale(0.98);
}
.btn-block{
  display: block;
  width: 100%;
} */
